<h2>Welcome <span class="username"></span></h2>
<button id="wishlist">Wishlist</button>
<button id="library">Library</button>
<button id="watchlist">Watchlist</button>
<form class="game-search">
    <div class="form-group">
        <label for="user-input">Search:</label>
        <input type="text" class="form-control" id="user-input" placeholder="Game">
    </div>
    <div class="form-group">
        <select id="search-type" name="search by">
            <option value="name">Name</option>
            <option value="developer">Developer</option>
            <option value="Genre">Genre</option>
        </select>
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>

<script src="assets/js/user.js"></script>